@font-face
{
font-family:tamil_font;
src:url('font/thenmoli.ttf');
}

.basic
{
background:#E3FFE8;
font-size:48px;
text-align:center;
font-family:sans-serif;
color:red;
position:absolute;
left:0px;
top:0px;
height:60px;
width:100%;	

}
.nav-background .option1
{
position:absolute;
left:200px;
top:70px;	
font-size:30px;
color:#FF7000;
font-family:sans-serif;	
}

.nav-background .option2
{
position:absolute;
left:400px;
top:70px;	
font-size:30px;
color:#FF7000;
font-family:sans-serif;	
}

.nav-background .option3
{
position:absolute;
left:600px;
top:70px;	
font-size:30px;
color:#FF7000;
font-family:sans-serif;	
}

.nav-background .option4
{

position:absolute;
left:800px;
top:70px;	
font-size:30px;
color:#FF7000;
font-family:sans-serif;	
}

.nav-background .option5
{

position:absolute;
left:1020px;
top:70px;	
font-size:30px;
color:#FF7000;
font-family:sans-serif;	
}


.mySlides 
{
display:none;
height:400px;
width:500px;
position:absolute;
left:60px;
top:150px;
}

.intro
{
font-size:21px; 
margin-left:600px; 
top:150px;
position:absolute; 	
font-family:verdana;
color:black;	
margin-right:100px;
margin-bottom:0px;
}

.about
{
font-size:20px; 
top:140px;
position:absolute; 	
font-family:sans-serif;
color:black;	
margin-right:540px;
margin-left:100px;
margin-bottom:50px;
}
.about2
{
font-size:20px; 
right:150px; 
top:150px;
position:absolute; 	
font-family:verdana;
color:black;	
}

.mySlides2
{
display:none;
height:470px;
width:540px;
position:absolute;
margin-left:80px;
margin-top:135px;
margin-bottom:50px;
}

.mySlides3
{
display:none;
height:540px;
width:470px;
position:absolute;
right:135px;
margin-top:100px;
margin-bottom:50px;
transform:rotate(90deg);
}

.nav-background
{
top:70px;
height:100px;
width:100%;
background-color:#EBFFC2;
padding:3px;
}


.intro1
{
font-size:22px; 
margin-left:50px; 
top:585px;
position:absolute; 	
font-family:verdana;
color:black;	
margin-right:100px;
margin-bottom:100px;
}


.donation
{
font-size:24px; 
margin-left:150px; 
top:120px;
position:absolute; 	
font-family:sans-serif;
color:blue;	
margin-right:100px;
}

footer
{
font-size:20px; 
margin-left:60px; 
position:absolute; 	
font-family:sans-serif;
color:red;	
margin-right:70px;	
top:800px;
}

.myPic 
{
height:500px;
width:500px;
position:absolute;
left:60px;
top:170px;
}

.myPic1
{
height:500px;
width:500px;
position:absolute;
left:60px;
top:120px;
transform:rotate(90deg);
}

.myPic2
{
height:500px;
width:500px;
position:absolute;
left:60px;
top:170px;
transform:rotate(90deg);
}

.mySlides4
{
height:400px;
width:600px;
position:absolute;
left:200px;
top:400px;
	
}
.donations_pic
{
margin-left:700px; 
top:400px;
position:absolute; 	
height:400px;
width:350px;
margin-right:100px;
margin-bottom:100px;
}

.container
{
 
top:590px;
position:absolute; 	
height:55px;
width:100%;
text-align:center;
font-size:20px;
background-color:lightgrey;
color:blue;
}

.basic .logo
{

height:55px;
width:120px;
position:absolute;
left:340px;
top:2px;
}

